<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/jsapl</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">bipin</property>
		<property name="connection.password">jethwani</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.hbm2ddl.import_files">initial-data.sql</property>
		<property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.enable_lazy_load_no_trans">false</property>

		<mapping resource="Customer.hbm.xml" />
		<mapping resource="CustomerType.hbm.xml" />
		<mapping resource="Sample.hbm.xml" />
		<mapping resource="Site.hbm.xml" />
		<mapping resource="Test.hbm.xml" />
		<mapping resource="TestCategory.hbm.xml" />
		<mapping resource="TestType.hbm.xml" />
		<mapping resource="WorkOrder.hbm.xml" />
	</session-factory>
</hibernate-configuration>


